body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Styling für den Header */
.header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: left;
    color: #333;
    width: 850px;
}

/* Styling für Semester und Module */
.semester {
    margin-bottom: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.score {
    width: 850px;
}

/* Styling für den Score */
#score {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.space-between {
    width: 200px;
}

/* Styling für Module */
.module {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid thin #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* Styling für Noten */
.grade-green, .grade-red {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.grade-green { background-color: green; }
.grade-yellow { background-color: yellow; }
.grade-red { background-color: red; }
